<!DOCTYPE html>
<html lang="en">

<head>
    <title>Train Escort Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container my-5">
        <div class="text-center">
            <h2 class="mb-4">Done!</h2>
            <p>
                If you entered a wrong entry, click on "Enter More Escort Data" and enter the correct entry again. We'll only consider your latest entry.
            </p>

            <div class="my-4">
                <button type="button" class="btn btn-primary mb-2" onClick='home()'>Return Home</button>
                <br>
                <button type="button" class="btn btn-secondary" onClick='newEntry()'>Enter More Escort Data</button>
            </div>
        </div>

        <div class="text-center mt-5">
            Made with <span style="color: #e25555;">&#9829;</span> for Indian Railways<br>
            <a href="http://vivekkaushal.com" target="_blank">vivekkaushal.com</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        function home() {
            window.location = '/home';
        };

        function newEntry() {
            window.location = 'enter';
        };
    </script>
</body>

</html>
