<HTML>

<head>
  <title>
    Train Escort Info
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <br />
    <br />
    <div class="col-lg-12">
      <h2 class="mt-5">Done!</h2>
    </div>
    <br />
    <div class="col-lg-12">
      <p>
        If you entered a wrong entry, click on "Enter More Escort data" and enter the correct entry again. We'll only
        consider your latest entry.
      </p>
    </div>
    <div class="row">
      <button type="button" class="btn btn-primary" onClick=' home()'>Return Home</button>
    </div>

    <br />
    <div class="row">
      <button type="button" class="btn btn-primary" onClick=' newEntry()'>Enter More Escort Data</button>
    </div>
    <br />
    <br />
    <br />
    <div class="text-center">
      Made with <span style="color: #e25555;">&#9829;</span> for Indian Railways<br />
      <a href="http://vivekkaushal.com" target="_blank">vivekkaushal.com</a>
    </div>
  </div>
</body>
<script>
  function home() {
    window.location = '/';
  };

  function newEntry() {
    window.location = 'enter'
  };
</script>

</HTML>