{% include "header.html" %}
<div class="container">
  <div class="card mt-4">
    <div class="card-body mt-2">
      <div class="row">
        <div class="col-md-4">
          <div class="text-justify">
            <h3>Hi, {{ name }}! <span class="badge badge-info">{{ zone }}</span></h3>

            <p id="date">Not {{ name }} from zone {{zone}}? <a href="{{ url_for('logout') }}">logout.</a></p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="text-justify">
            <h5 class="ml-2">Instructions:</h5>
            <p class="ml-2">
              All train escort information should be filled <span class="badge badge-danger">two days in advance</span>.
              For example, if an escort segment is scheduled to board on <span
                class="badge badge-warning">Wednesday</span>,
              it's details should be filled latest by <span class="badge badge-success">Monday morning 09:00</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-body mt-2">
      <div class="row">
        <div class="col-md-6">
          <div class="text-justify">
            <h4>Train Information:</h4>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Train Number</div>
              </div>
              <input type="text" id='train_no' class="form-control" placeholder="enter train number">
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Train Type</div>
              </div>
              <select class="form-control" id="train_type" required>
                <option>select train type</option>
                {% for type in train_types %}
                <option>{{ type }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text"> Train Origin Date</div>
              </div>
              <input type="date" id='origin_date' class="form-control">
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Train originates in {{ zone }} zone?</div>
              </div>
              <select class="form-control" id="origin" required>
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Train terminates in {{ zone }} zone?</div>
              </div>
              <select class="form-control" id="terminate" required>
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-left">
            <h4>Escort Segment Information:</h4>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Escort Name</div>
              </div>
              <input type="text" id='escort_name' class="form-control" placeholder="enter name of head of escort party">
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Escort Phone Number</div>
              </div>
              <input type="text" id='escort_phone' class="form-control" placeholder="enter phone number of head of escort party">
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Escort Count</div>
              </div>
              <input type="text" id='escort_count' class="form-control" placeholder="enter number of members in escort party">
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">Boarding Station</div>
              </div>
              <input type="text" id='boarding' class="form-control" placeholder="enter boarding station">
            </div>
            <div class="input-group mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">De-boarding Station</div>
              </div>
              <input type="text" id='deboarding' class="form-control" placeholder="enter de-boarding station">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-dark mt-4" onclick="submitdata()">Submit Segment Information</button>

</body>
<script>

  function home() {
    window.location = '/';
  };

  function submitdata() {
    var origin_date = $('#origin_date').val();
    var train_no = $('#train_no').val();
    var origin = $('#origin').val();
    var origin_date = $('#origin_date').val();
    var terminating = $('#terminating').val();
    var current = $('#current').val();
    var escort_name = $('#escort_name').val();
    var escort_phone = $('#escort_phone').val();
    var zone = $('#zone').val();
    var name = $('#name').val();
    var escort_from = $('#escort_from').val();
    var escort_to = $('#escort_to').val();

    console.log(origin_date)

    // var today = new Date();
    if (!origin_date) {
      $('#error').css('display', 'block');
    }
    else {
      var url = 'get_data?train_no=' + train_no + '&origin=' + origin + '&origin_date=' + origin_date + '&terminating=' + terminating + '&current=' + current + '&escort_name=' + escort_name + '&escort_phone=' + escort_phone + '&zone=' + zone + '&name=' + name + '&escort_from=' + escort_from + '&escort_to=' + escort_to
      window.location = url
    }

  }
</script>

</HTML>