<HTML>

<head>
  <title>
    Train Escort Info
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h1 class="mt-5">Enter Train Escort Information</h1>
        <form id='test' name='test'>

          <div class="form-group">
            <label for="age">Train Number : </label>
            <input type="text" class="form-control" id="train_no" placeholder="Enter train number ...">
          </div>

          <div class="form-group">
            <label for="age">Origin Station : </label>
            <input type="text" class="form-control" id="origin" placeholder="Enter origin station ...">
          </div>

          <div class="form-group">
            <label for="origin_date">
              <div style='color: red;'>-- NEW -- <br />
                <em>when did the train start from the origin station?</em></div>
              Date of Train Origin :
            </label>
            <input type="date" class="form-control" id="origin_date">
          </div>


          <div class="form-group">
            <label for="age">Terminating Station : </label>
            <input type="text" class="form-control" id="terminating" placeholder="Enter terminating station ...">
          </div>

          <div class="form-group">
            <label for="age">Current Station : </label>
            <input type="text" class="form-control" id="current" placeholder="Enter current station ...">
          </div>

          <div class="form-group">
            <label for="age">Escort Name : </label>
            <input type="text" class="form-control" id="escort_name" placeholder="Enter escort name ...">
          </div>


          <div class="form-group">
            <label for="age">Escort Phone Number : </label>
            <input type="text" class="form-control" id="escort_phone" placeholder="Enter escort phone number ...">
          </div>

          <div class="form-group">
            <label for="age">Escort Boarding Station : </label>
            <input type="text" class="form-control" id="escort_from"
              placeholder="Enter station where escort boarded ...">
          </div>

          <div class="form-group">
            <label for="age">Escort De-boarding Station : </label>
            <input type="text" class="form-control" id="escort_to"
              placeholder="Enter station where escort will de-board ...">
          </div>

          <p>
            Information about you (the person who's entering this data).
          </p>


          <div class="form-group">
            <label for="age">What's your zone : </label>
            <input type="text" class="form-control" id="zone" placeholder="Enter your zone ...">
          </div>

          <div class="form-group">
            <label for="age">What's your name : </label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name ...">
          </div>
      </div>
    </div>
    <br />
    <p id="error" style="color:red; display: none">Enter Date of Train Origin!</p>
    <button type="button" class="btn btn-primary" onclick="submitdata()">Submit</button>&nbsp;&nbsp;&nbsp;<button
      type="button" class="btn btn-primary" onClick=' home()'>Return Home</button>
    <br />
    <br />
    <br />
    <div class="text-center">
      Made with <span style="color: #e25555;">&#9829;</span> for Indian Railways<br />
      <a href="http://vivekkaushal.com" target="_blank">vivekkaushal.com</a>
    </div>
  </div>

</body>
<script>

  function home() {
    window.location = '/';
  };

  function submitdata() {
    var origin_date = $('#origin_date').val();
    var train_no = $('#train_no').val();
    var origin = $('#origin').val();
    var origin_date = $('#origin_date').val();
    var terminating = $('#terminating').val();
    var current = $('#current').val();
    var escort_name = $('#escort_name').val();
    var escort_phone = $('#escort_phone').val();
    var zone = $('#zone').val();
    var name = $('#name').val();
    var escort_from = $('#escort_from').val();
    var escort_to = $('#escort_to').val();

    console.log(origin_date)

    // var today = new Date();
    if (!origin_date) {
      $('#error').css('display', 'block');
    }
    else {
      var url = 'get_data?train_no=' + train_no + '&origin=' + origin + '&origin_date=' + origin_date + '&terminating=' + terminating + '&current=' + current + '&escort_name=' + escort_name + '&escort_phone=' + escort_phone + '&zone=' + zone + '&name=' + name + '&escort_from=' + escort_from + '&escort_to=' + escort_to
      window.location = url
    }

  }
</script>

</HTML>