<HTML>

<head>
  <title>
    Train Escort Info
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <br />
    <br />
    <div class="col-lg-12">
      <h3 class="mt-5">Provide Password to Enter New Data:</h3>
      <p>
        If you don't have the password, contact ASC/PS/RB Vinay Maharaj +91 9717641280
      </p>
    </div>
    <div id="message" style="display:none">
      <p style="color:red;">
        Incorrect Password
      </p>
    </div>
    <div class="col-lg-12">
      <div class="form-group">
        <input type="password" class="form-control" id="pass" placeholder="Enter Password here ...">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button type="button" class="btn btn-primary" onClick='send()'>Continue</button> &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-primary" onClick='back()'>Go Back</button>
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="text-center">
      Made with <span style="color: #e25555;">&#9829;</span> for Indian Railways<br />
      <a href="http://vivekkaushal.com" target="_blank">vivekkaushal.com</a>
    </div>
  </div>
</body>
<script>

  $(document).ready(function () {
    if ('{{ wrong }}' == 'True') {
      $('#message').css('display', 'block');
    }
  });


  function back() {
    window.location = '/';
  };

  function send() {
    var password = $(' #pass').val();
    var url = 'verify?entered=' + password;
    window.location = url;
  };
</script>

</HTML>